*{
    margin: 0;
    padding: 0;
}

html {
    background: url(images/winter.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* navbar starts here */

nav{
    height: 55px;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.059);
    box-shadow: 0 0 10px 1px rgba(255,255, 255, .15);
    backdrop-filter: blur(60px);
}

nav h1{
    color: white;
    font-weight: 900;
    font-size: 28px;
}

nav ul{
    display: flex;
}

nav ul li:nth-child(1),  nav ul li:nth-child(2) {
    margin-right: 40px;
}

nav ul li, a{
    color: white;    
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 900;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main h1{
    color: white;
    font-weight: 900;
    font-size: 28px;
}